################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BoardGameRentalApp/v15/Server/sqlite3/storage.ide
/.vs/BoardGameRentalApp/v15/Server/sqlite3/db.lock
/.vs/slnx.sqlite
/.vs/BoardGameRentalApp/v16
/.vs
/backend-on-micro/Clients.Api/BoardGames.db
/backend-on-micro/Clients.Api/Clients.db
/backend-on-micro/Games.Api/Games.db
/tests/Rental.Core.Tests/bin/Debug/netcoreapp3.0
/tests/Rental.Core.Tests/obj/Debug/netcoreapp3.0
/tests/Rental.Core.Tests/obj
/tests/Rental.DataAccess.Tests/bin/Debug/netcoreapp3.0
/tests/Rental.DataAccess.Tests/obj
/obj
/bin/Debug
/src/EmailSending.Web.Api/bin/Debug/netcoreapp3.0
/src/EmailSending.Web.Api/obj
